* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 96px;
}

nav li {
    list-style: none;
    margin-left: 60px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    /* height: 800px; */
    width: 100%;
    height: 50vw;

}

.primary-color {
    color: #FD6E0A;
}

.hire-btn {
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    color: #FFF;
    background-color: #FD6E0A;
}

.banner {
    margin: 0 96px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-paragraph {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-btncv {
    color: #FFF;
    width: 200px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
    padding: 19px 30px;
    border: 0;
    background-color: #FD6E0A;
}

.banner-btncontact {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* main about section style */
.main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    height: 80px;
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 65px 124px 365px 189px;
}

.about-title {
    /* width: 169px;
    height: 48px; */
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;
}

.bout-paragraph {
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.table {
    margin-top: 30px;

}

.td {
    /* border: 2px solid black; */
    width: 400px;
    margin-left: 100px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 30px;
}

/* What i do style */

.what-i-do {
    margin-top: 130px;
}

.what-i-do-title {
    text-align: center;

}

.what-i-do-text {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.skill-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.skill {
    width: 267px;
    height: 277px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
}

.skill-title {
    margin: 20px 63px 20px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-discription {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

/* Style of Summary */

.summary {
    margin-top: 100px;
}

.summary-title {
    text-align: center;

    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sumarry-container {
    margin-top: 113px;
    display: flex;
    justify-content: space-between;
}

.summary-sub-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.Degree-name {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.institute-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.summary-paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-bottom: 30px;
}

hr {
    margin-bottom: 30px;
}

.sumarry-resume {
    margin-right: 40px;
}

.sumarry-button {
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 17px;
    margin-left: 430px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;

}

/* Contruct Style */
.contruct {
    height: 780px;
    background: #FFF8F3;
}

.contruct-container {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
}

.contruct-left {
    height: 600px;
    width: 500px;
    margin-left: 100px;
     /* background-color: aqua;  */
}

.contruct-right {
    height: 600px;
    width: 500px;
    margin-left: 100px;
    /* background-color: aqua; */
}

.contruct-title {
    margin-top: 130px;
}

.contruct-paragraph {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* text-align: left; */
    
    /* 175% */
}

.tr {
    width: 461px;
    height: 64px;
    background-color: white;
    border-radius: 5px;
}

.textarea {
    width: 461px;
    height: 180px;
    background-color: white;
    border-radius: 5px;
}

.contruct-button {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 576px) {

    .skill-container {
        
        flex-direction: column;
        justify-content: center;
    }
    .sumarry-container {
        flex-direction: column;
    }
    .sumarry-button {
        margin-left: 30%;
    }
    .contruct-container {
        flex-direction: column;
    }
    .contruct-paragraph {
       width: 30%;
    }
    .about{
        padding: 10px 10px 10px 10px;
    }
    
}